.gradient-custom-2 {
  /* fallback for old browsers */
  background: #0cbaba;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    /*to right,
      #ffdbdb,
    #f4d6df,
    #e9d1e3,
    #decce7,
    #d4c8ec*/
      315deg,
    #0cbaba 0%,
    #380036 74%
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    /*  to right,
      #ffdbdb,
    #f4d6df,
    #e9d1e3,
    #decce7,
    #d4c8ec*/
      315deg,
    #0cbaba 0%,
    #380036 74%
  );
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
